<div class="app-home">

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Angular - Using the Youtube API</h1>
      </div>
    </section>
  </main>

  <app-most-popular [limit]="12"></app-most-popular>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="https://github.com/twekie/angular-youtube-api" target="_blank">Go to repository</a>
      </p>
      <p>&copy; Bootstrap</p>
    </div>
  </footer>

</div>
